---
import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import Default from '@layouts/Default.astro';

import PageLanding from '@components/page/PageLanding.astro';

const page_title = t('index.page_title');
---

<Default title={page_title}>
    <PageLanding
        fullscreen={true}
        wide={true}
    >
		<div class="[ content-section ][ min-h-[100vh] max-w-[48rem] items-center ]">
		</div>
    </PageLanding>
</Default>