:root {
    --foreground:           black;
    --background:           #23cd67;
    --component-background: rgb(25, 25, 25);
    --highlight:            #e21d41;

    --form-color:               var(--fleet-yellow);
    --button-color:             var(--highlight);
    --border-color:             transparent;
    --border-color-hover:       transparent;
    --scrollbar-thumb:          #444;
    --scrollbar-thumb-hover:    #555;
}