:root {
    --foreground:           white;
    --background:           #121212;
    --component-background: rgb(25, 25, 25);
    --highlight:            white;

    --form-color:               var(--fleet-yellow);
    --button-color:             var(--fleet-yellow);
    --border-color:             transparent;
    --border-color-hover:       transparent;
    --scrollbar-thumb:          #444;
    --scrollbar-thumb-hover:    #555;
}